// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';


table img {
    width: 60px;
    height: 60px;
}

form {
    margin-bottom: 20px;
}

.btn{
    padding:0;
    padding-right: 4px;
    padding-left: 4px;
    margin-bottom: 2px;
}
